
ASMWPF/obj/Debug/net6.0-windows/OrderForm.baml
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/ref/ASMWPF.dll
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.baml
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.baml
ASMWPF/obj/Debug/net6.0-windows/ref/ASMWPF.dll
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/OrderForm.baml
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.baml
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.baml
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yy0jbz34_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yy0jbz34_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yy0jbz34_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yy0jbz34_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yfjkarqa_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yfjkarqa_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yfjkarqa_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yfjkarqa_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_xu4bnjga_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_xu4bnjga_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_xu4bnjga_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_xu4bnjga_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_w4dh1hli_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_w4dh1hli_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_w4dh1hli_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_w4dh1hli_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_rjnlkjdg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_rjnlkjdg_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_rjnlkjdg_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_rjnlkjdg_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.baml
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.baml
.vs/ASM_G5/v17/.suo
ASMWPF/obj/Debug/net6.0-windows/UserForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/UserForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/UserForm.baml
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.baml
ASMWPF/obj/Debug/net6.0-windows/ref/ASMWPF.dll
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/OrderForm.baml
ASMWPF/obj/Debug/net6.0-windows/HomePageForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/HomePageForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/HomePageForm.baml
ASMWPF/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.baml
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.baml
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_sxd2dnck_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_sxd2dnck_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_sxd2dnck_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_sxd2dnck_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_qbkgmk4l_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_qbkgmk4l_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_qbkgmk4l_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_qbkgmk4l_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_MarkupCompile.lref
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_jpecs0xq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_jpecs0xq_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_jpecs0xq_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_jpecs0xq_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_0xsyxmgb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_0xsyxmgb_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_0xsyxmgb_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_0xsyxmgb_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF.pdb
ASMWPF/obj/Debug/net6.0-windows/ASMWPF.g.resources
ASMWPF/obj/Debug/net6.0-windows/ASMWPF.dll
ASMWPF/obj/Debug/net6.0-windows/ASMWPF.csproj.FileListAbsolute.txt
ASMWPF/obj/Debug/net6.0-windows/ASMWPF.csproj.CoreCompileInputs.cache
ASMWPF/obj/Debug/net6.0-windows/App.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/App.g.cs
ASMWPF/obj/Debug/net6.0-windows/AdminUpdateForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/AdminUpdateForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/AdminUpdateForm.baml
ASMWPF/obj/Debug/net6.0-windows/AdminHomePageForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/AdminHomePageForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/AdminHomePageForm.baml
ASMWPF/bin/Debug/net6.0-windows/ref/ASMWPF.dll
ASMWPF/bin/Debug/net6.0-windows/ASMWPF.pdb
ASMWPF/bin/Debug/net6.0-windows/ASMWPF.dll
ASMWPF/bin/Debug/net6.0-windows/ASMLibrary.pdb
ASMWPF/bin/Debug/net6.0-windows/ASMLibrary.dll
ASMLibrary/obj/Debug/net6.0/ref/ASMLibrary.dll
ASMLibrary/obj/Debug/net6.0/ASMLibrary.pdb
ASMLibrary/obj/Debug/net6.0/ASMLibrary.dll
ASMLibrary/obj/Debug/net6.0/ASMLibrary.csproj.AssemblyReference.cache
ASMLibrary/bin/Debug/net6.0/ref/ASMLibrary.dll
ASMLibrary/bin/Debug/net6.0/ASMLibrary.pdb
ASMLibrary/bin/Debug/net6.0/ASMLibrary.dll
.vs/ASM_G5/v17/.suo
