
ASMWPF/obj/Debug/net6.0-windows/OrderForm.baml
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/ref/ASMWPF.dll
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.baml
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/RegisterForm.baml
ASMWPF/obj/Debug/net6.0-windows/ref/ASMWPF.dll
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/OrderForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/OrderForm.baml
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.baml
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.baml
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yy0jbz34_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yy0jbz34_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yy0jbz34_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yy0jbz34_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yfjkarqa_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yfjkarqa_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yfjkarqa_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_yfjkarqa_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_xu4bnjga_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_xu4bnjga_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_xu4bnjga_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_xu4bnjga_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_w4dh1hli_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_w4dh1hli_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_w4dh1hli_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_w4dh1hli_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_rjnlkjdg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_rjnlkjdg_wpftmp.assets.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_rjnlkjdg_wpftmp.AssemblyInfoInputs.cache
ASMWPF/obj/Debug/net6.0-windows/ASMWPF_rjnlkjdg_wpftmp.AssemblyInfo.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/DetailsForm.baml
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.i.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.g.cs
ASMWPF/obj/Debug/net6.0-windows/CartForm.baml
.vs/ASM_G5/v17/.suo
